.form,
.wrapper {
    width: 363px;
    margin: 64px 56px;
}

.forgot-password {
    display: inline-block;
    color: rgba(22, 24, 35, 0.75);
    font-weight: 600;
    font-size: 12px;
    cursor: pointer;
}

.heading {
    font-size: 3.2rem;
    font-weight: 700;
    margin: 16px 0;
    text-align: center;
}

.btn-submit {
    width: 100%;
    margin: 21px 0;
    height: 46px;
}

.footer {
    height: 64px;
    font-size: 1.5rem;
    text-align: center;
    border-top: 0.5px solid rgba(22, 24, 35, 0.12);
    line-height: 6.4rem;
}

.sign-up {
    color: var(--primary);
    font-weight: 600;
    margin-left: 5px;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}

.error-message {
    display: flex;
    color: var(--error-color);
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-bottom: 9px;
}

.code-input-container {
    display: flex;
    align-items: center;

    .code-input {
        margin-bottom: 0;
        min-width: auto;
    }
}

.policy-confirm {
    color: rgba(22, 24, 35, 0.5);
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: center;
    margin-bottom: -48px;
}

.terms,
.policy {
    color: var(--text-color);
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.email-wrapper {
    position: relative;
}
.email-suggestion {
    position: absolute;
    top: calc(100% - 4px);
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: #fff;
    list-style: none;
    border-radius: 4px;
    border: 1px solid rgba(22, 24, 35, 0.12);
    & > .email-suggest-item {
        font-size: 1.3rem;
        line-height: 3.4rem;
        height: 34px;
        padding: 0 12px;
        color: rgba(22, 24, 35, 0.5);
        cursor: pointer;

        &:hover {
            background-color: rgba(22, 24, 35, 0.03);
        }
    }
}

//form
.title {
    font-size: 3.3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 16px;
}

.list-options {
    list-style: none;
    padding: 10px;
}

.option {
    height: 44px;
    display: flex;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 8px;
    border: 1px solid rgba(22, 24, 35, 0.12);
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 12px;
    margin-bottom: 12px;
    cursor: pointer;

    &:hover {
        border-color: rgb(208, 209, 211);
        background-color: rgb(248, 248, 248);
    }

    .label-login {
        background-color: rgb(32, 213, 236);
        padding: 0 8px;
        font-size: 1.1rem;
        font-weight: 600;
        border-radius: 10px 10px 10px 2px;
        color: #fff;
        width: fit-content;
        position: absolute;
        right: 0;
        top: 0;
        transform: translate(-12px, -50%);
    }
}

.option-icon {
    display: flex;
    position: absolute;
    left: 12px;
}


//reset form 
.reset-form {
    position: relative;
}

.btn-back {
    position: absolute;
    left: -40px;
    top: -36px;
    font-size: 2rem;
    background-color: transparent;
    padding: 4px 12px;
    cursor: pointer;
}
